* {
    box-sizing: border-box;
}

nav {
    width: 21vw;
    position: absolute;
    background-color: white;
    height: 100vh;
}

.nav-bar-menu{
    display: none;
}

.content {
    margin-left: 21vw;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.user-profile-div {
    .profile-img {
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .user-name {
        width: 80%;
    }
}

.header-profile-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-profile-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
@media screen and (max-width: 975px) {
    .header {
        width: 100%;

        .search-div{
            display: none;
        }
    }
    #createProjectPopup {
        margin-left: 15% !important;
    }

    .nav-bar-menu{
        display: block;
    }

    nav {
        width: 50vw;
        position: absolute;
        height: 100vh;
        margin-left: -70%;
        margin-top: 0;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .content {
        margin-left: 0;
    }
}
