* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

.user-profile-div {
    .profile-img {
        width: 2rem;
        height: 2rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .user-name{
        width: 80%;
    }

}

@media screen and (max-width:750px){
    .header{
        width: 100%;
        
        div:has(input){
            display: none;
        }
    }
    #createProjectPopup{
        margin-left: 15% !important;
    }

    nav{
        position: absolute;
        height: 100vh;
        margin-left: -70%;
    }
}
