* {
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
}

.profile-img {
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
