
*{
    box-sizing: border-box;
}

form {
    padding: 0 1%;

    #editor{
        height: 60vh;
    }

    .right-side-form {
        margin-top: 7.5%;

        .img-container{
            width: 30vh;
            span{
                display: block;
                width: 100%;
                padding: 2% 3%;
            }
            input{
                width: 100%;
            }
        }
    }

}
