
*{
    box-sizing: border-box;
}

.header{
    padding-right: 2%;
    div:has(input){
        display: none;
    }
    #create-icon{
        display: none;
    }
    .spacer{
        display: none;
    }
}

form {
    padding: 0 1%;

    #editor{
        height: 60vh;
    }

    .right-side-form {
        margin-top: 15vh;

        .img-container{
            width: 30vh;
            label{
                display: block;
                width: 100%;
                padding: 2% 3%;
                .img-placeholder{
                    height: 20vh;
                    background-image: url("https://placehold.co/600x400/png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

        }

        button{
            margin-top: 12%;
        }
    }

    .img-input-label{
        right: 0;
        bottom: 0;
        margin: 12% 5%;
    }
}

@media screen and (max-width: 975px) {
    .content{
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 2vw;
    }
    form {
        height: max-content;
        flex-direction: column;
        .right-side-form{
            position:relative;
            margin-top: 0;
        }
    }
}
