
body {
    overflow: hidden;

    form {
        width: 25vw;
        height: 70%;
        padding-top: 5%;
        background-color: white;
        bottom: 20%;
    }

    .register-form {
        left: -70rem;
        bottom: 20%;
        h1{
            margin-bottom: 5%;
        }
         input{
             margin-bottom: 3%;
         }
        button{
            margin-top: 7%;
        }
    }

    .login {
        color: white;
    }

    .btn-container {
        background-color: #f2f2f2;
        left: 45%;
        bottom: 20%;
    }
    input:focus{
        outline: none;
    }
    .nav-bar-menu{
        display: none;
    }
}



@media screen and (max-width:750px){
    

    .login-form, .register-form{
        width: 70%;
        height: max-content;
        padding-bottom: 8%;
        margin-left: 0rem !important;
        input{
            width: 100%;
        }
    }

    .btn-container{
        left: 20% !important;
        bottom: 5% !important;
    }

    .register-form{
        margin-left: 15% !important;
    }

    .forms-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

    .login-img{
        display: none;
    }
}
