
body {
    overflow: hidden;

    form {
        width: 25vw;
        background-color: white;
        bottom: 20%;
    }

    .register-form {
        left: -70rem;
        bottom: 20%;
    }

    .login {
        color: white;
    }

    .btn-container {
        background-color: #f2f2f2;
        left: 45%;
        bottom: 20%;
    }
    input:focus{
        outline: none;
    }
}




