@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    font-family: "Inter";
}

.profile-img {
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    margin-left: 20vw;
    .search-input:focus {
        outline: none;
    }
}
